<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @address.name %>
</p>

<p>
  <b>Email:</b>
  <%= @address.email %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
